<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <header class="main-header">
        <%- include('../partials/header') %>
    </header>
    <main>
        <section class="register">
            <article>
                <form action="/products/crearProducto" method="POST" name="crearProducto" id="crearProducto" enctype="multipart/form-data">
                    <label for="" class="form-label_title">Crear Nuevo Producto</label>

                    <label for="nombreProducto" class="form-label_dates">Nombre del Producto </label>
                    <input type="text" name="nombreProducto"  class="form-input-dates" value="<%= locals.oldData ? oldData.nombreProducto : null %>">
                    <!-- si local errors existe & hay algo en la propiedad firs:name -->
                                <% if (locals.errors && errors.nombreProducto) { %>
                                    <p class="feedback"><%=errors.nombreProducto.msg %> </p>
                                <% } %>

                    <label for="precioProducto" class="form-label_dates">Precio del Producto</label>               
                    <input type="text" name="precioProducto"  class="form-input-dates" value="<%= locals.oldData ? oldData.precioProducto : null %>">
                    <!-- si local errors existe & hay algo en la propiedad  -->
                    <% if (locals.errors && errors.precioProducto) { %>
                        <p class="feedback"><%=errors.precioProducto.msg %> </p>
                    <% } %>
                   
                    <label for="familiaProducto" class="form-label_dates">Marca</label>         
                        <select name="brand" id="marca">
                            <% for (let i = 0; i <brand.length; i++){ %> 
                                <option value="<%=brand[i].id%>" <%= locals.oldData && (oldData.brand == brand[i].id ? 'selected' : null) %>>
                                <%=brand[i].name%>
                                </option>
                             <% } %>
                        </select>

                        <!-- si local errors existe & hay algo en la propiedad  -->
                        <% if (locals.errors && errors.brand) { %>
                            <p class="feedback"><%=errors.brand.msg %> </p>
                        <% } %>

                        <label for="familiaProducto" class="form-label_dates">Familia Aroma</label>         
                        <select name="smellFamily" id="familiaAroma">
                            <% for (let i = 0; i <smellFamilys.length; i++){ %> 
                                <option value="<%=smellFamilys[i].id%>" <%= locals.oldData && (oldData.brand == smellFamilys[i].id ? 'selected' : null) %>>
                                <%=smellFamilys[i].name%>
                                </option>
                                <% } %>   
                        </select>

                        <!-- si local errors existe & hay algo en la propiedad  -->
                        <% if (locals.errors && errors.smellFamily) { %>
                            <p class="feedback"><%=errors.smellFamily.msg %> </p>
                        <% } %>

                    <label for="categoriaProducto" class="form-label_dates">Categoria del Producto</label>
                         <select name="gender" id="gender">
                            <option value="HOMBRE" <%= locals.oldData && (oldData.gender == "HOMBRE" ? 'selected' : null) %>>HOMBRE</option>
                            <option value="MUJER"  <%= locals.oldData && (oldData.gender == "MUJER" ? 'selected' : null) %>>MUJER</option>
                        </select>
                    <label for="discount" class="form-label_dates" >Descuento</label>               
                    <input type="number" name="discount"  class="form-input-dates" value="<%= locals.oldData ? oldData.discount : null %>">
                    <!-- si local errors existe & hay algo en la propiedad  -->
                    <% if (locals.errors && errors.discount) { %>
                        <p class="feedback"><%=errors.discount.msg %> </p>
                    <% } %>
                    <label for="available" class="form-label_dates" >Cantidad disponible</label>               
                    <input type="number" name="available"  class="form-input-dates" value="<%= locals.oldData ? oldData.discount : null %>">

                    <label for="imagenProducto" class="form-label_dates">Imagen del Producto</label>
                    <input type="file" name="imagenProducto" accept=".jpg, .png, .jpeg , .gif" class="form-input-dates">
                    <!-- si local errors existe & hay algo en la propiedad  -->
                    <% if (locals.errors && errors.imagenProducto) { %>
                        <p class="feedback"><%=errors.imagenProducto.msg %> </p>
                    <% } %>
                    <label for="descripcion" class="form-label_dates">Descripcion del Producto </label>
                    <textarea name="description" value="<%= locals.oldData ? oldData.description : null %>" ></textarea>
                    <!-- si local errors existe & hay algo en la propiedad  -->
                    <% if (locals.errors && errors.description) { %>
                        <p class="feedback"><%=errors.description.msg %> </p>
                    <% } %>
                    <input class="form-input-button" type="submit" value="Crear">
                    <input type="hidden" name="promo" value="1">
                </form>
            </article>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>