<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <header class="main-header">
        <%- include('../partials/header') %> 
    </header>
    <main>
        <section class="detail-product">
            <article >
                <div class="imgs-product">
                    <div class="img-top">
                        <img src="/img/Perfumes/<%= prod.image1 %> " alt="" class="img_first">
                    </div>
                    <div class="img-botton">
                        <div class="arrows">
                            <a href="#" class="arrow-right"><i class="fas fa-caret-left"></i></a>
                        </div>
                        <div class="img-botton_secont">
                            <img src="/img/Perfumes/<%= prod.image2 %> " alt="" class="img_secont">
                            <img src="/img/Perfumes/<%= prod.image3 %> " alt="" class="img_secont">
                            <img src="/img/Perfumes/<%= prod.image4 %> " alt="" class="img_secont">
                        </div>
                        <div class="arrows">
                            <a href="#" class="arrow-right"><i class="fas fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
                    <div class=main-data>
                        <h3 id="name"><%= prod.name %></h3>
                        <p id="availability"><%= prod.available ? "Disponible" : "Agotado"%></p>
                        <% if(prod.promotion==true){ %> 
                         <li id="precio-before">$ <%= pricefull %> </li>
                        <% } %> 
                        <p id="price">$ <%= pricediscount %> COP</p>
                        <form action="/products/carritoDeCompras" method="get">
                            <label id="cant" for="cant">Cantidad</label>
                            <input id="box-number"type="number" value="number" name="cant"  min="1">
                            <button id="buy"type="submit"><i class="fas fa-shopping-cart"></i>COMPRAR</button>
                        </form>
                    </div>
                    <div class="description">
                        <h3>Descripcion del producto</h3>
                        <p><%= prod.description %> </p>
                    </div>
            </article>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>