<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <header class="main-header">
        <%- include('../partials/header') %>
    </header>
    <main class="main-form">
        <section class="register">
            <article>
                <form action="/products/editarProducto/<%= productoBuscado.id%>?_method=PUT" name="editarProducto" id="editarProducto" method="POST">
                    <label for="" class="form-label_title">Editar Producto</label>
                    <label for="nombreProducto" class="form-label_dates"></label>

                    <label for="nombreProducto" class="form-label_dates">Nombre del Producto </label>
                    <input type="text" name="nombreProducto" id="nombreProducto" class="form-input-dates" value="<%=productoBuscado.name %>">
                    <div class="text-danger" id="nameError"></div>

                    <label for="precioProducto" class="form-label_dates">Precio del Producto</label>               
                    <input type="text" name="precioProducto"  id="precioProducto" class="form-input-dates" value="<%=productoBuscado.price %>">
                    <div class="text-danger" id="precioError"></div>

                    <label for="brand" class="form-label_dates">Marca</label>         
                    <select name="brand" id="marca" class="form-select">
                        <% for (let i = 0; i <brand.length; i++){ %> 
                            <% if(brand[i].id == productoBuscado.brand_id){%>
                            <option value="<%=brand[i].id%>" selected>
                            <%=brand[i].name%>
                            </option>
                            <% }else{ %> 
                                <option value="<%=brand[i].id%>">
                                    <%=brand[i].name%>
                                </option>  
                            <% }} %> 
                    </select>
                    <div class="text-danger" id="marcaError"></div> 

                    <label for="familiaProducto" class="form-label_dates">Familia Aroma</label>         
                        <select name="smellFamily" id="familiaAroma" class="form-select">
                            <% for (let i = 0; i <smellFamilys.length; i++){ %> 
                                <% if(smellFamilys[i].id == productoBuscado.smellFamily_id){%>
                                <option value="<%=smellFamilys[i].id%>" selected>
                                <%=smellFamilys[i].name%>
                                </option>
                                <% }else{ %> 
                                    <option value="<%=smellFamilys[i].id%>">
                                        <%=smellFamilys[i].name%>
                                    </option>  
                                <% }} %> 
                        </select>
                        <div class="text-danger" id="familiaAromaError"></div>

                        <label for="categoriaProducto" class="form-label_dates">Categoria del Producto</label>
                        <select name="gender" id="gender" class="form-select">
                           <option value="0">Seleccionar...</option>
                           <option value="HOMBRE" <%= locals.oldData && (oldData.gender == "HOMBRE" ? 'selected' : null) %>>HOMBRE</option>
                           <option value="MUJER"  <%= locals.oldData && (oldData.gender == "MUJER" ? 'selected' : null) %>>MUJER</option>
                       </select>
                       <!-- falta la validacion del backend de  genero -->
                       <div class="text-danger" id="genderError"></div>
                        

                        <label for="discount" class="form-label_dates">Descuento</label>               
                        <input type="text" name="discount" id ="discount" class="form-input-dates" value="<%=productoBuscado.discount_id %>">
                        <div class="text-danger" id="discountError"></div>

                        <label for="available" class="form-label_dates" >Cantidad disponible</label>               
                        <input type="number" name="available" id="cant_avaible" class="form-input-dates" value="<%= locals.oldData ? oldData.discount : null %>">
                        <div class="text-danger" id="cant_avaibleError"></div>

                    <label for="imagenProducto" class="form-label_dates">Imagen del Producto</label>
                    <input type="file" name="imagenProducto" id="imagenProducto" accept=".jpg, .png, .jpeg" class="form-input-dates" value="<%=productoBuscado.images_products[0].name%>">
                    <div class="text-danger" id="imagenError"></div>

                    <label for="descripcionProducto" class="form-label_dates">Descripcion del Producto  </label>
                    <textarea name="descripcionProducto" id="descripcion"><%=productoBuscado.description %></textarea>
                    <div class="text-danger" id="descripcionError"></div>

                    <input class="form-input-button" id="buttonEditar" type="submit" value="Editar" href="#">
                    
                </form>
                <form id="eliminar" action="/products/eliminar/<%= productoBuscado.id%>" name="eliminarProducto" method="get">
                    <input type="submit" value="Eliminar" >
                </form>
            </article>
        </section>
    </main>
    <%- include('../partials/footer') %>
    <!-- <script type="text/javascript" src="/js/editProduct.js"></script> -->
</body>

</html>