<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
  <header class="main-header">
    <%- include('../partials/header') %>
  </header>
  <h1 class="title-list">Listado de Productos</h1>
  <article class="producto-destacado">
    <% for (let i = 0; i < productos.length; i++) {%>
        <div class="destacado-producto">
            <a href="/products/detalle/<%=productos[i].id %>">
                <img class="product-img" src="..\..\img\perfumes/<%= productos[i].images_products[0].name%>" alt="imagen">
            </a>
            <div class="main-product-description">
                <p id="name-product"><%= productos[i].name %></p>
                <p id="precio">$<%=productos[i].price %></p>
                <a class="compra" href="/products/detalle/<%=productos[i].id %>"><span id="img-buy-car"><i
                 class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                    
            </div>      
         </div>
             <% }; %>
         </article>
    <%- include('../partials/footer') %>
</body>
</html>