<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <header class="main-header">
        <%- include('../partials/header') %>
    </header>

    <main class="full body">
        <h3 id="subtitulos">Fragancias de Mujer</h3>
        <article class="producto-destacado">
   <% for (let i = 0; i < products.length; i++) {%>
            <div class="destacado-producto">
             
                <img class="product-img" src= "..\..\img\perfumes/<%= products[i].images_products[0].name%>" alt="Imagen">
                <div class="main-product-description">
                    <p id="name-product"><%= products[i].name %></p>
                    <p id="precio">$<%=products[i].price %></p>
                    <a class="compra" href="/products/detalle/<%= products[i].id %>"><span id="img-buy-car"><i
                                class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                   
                </div>
            </div>
            <% }; %>


        </article>


    </main>
    <%- include('../partials/footer') %>
</body>

</html>