<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <header class="main-header">
        <%- include('../partials/header') %>
    </header>
    <main class="full body">
        <h3 id="subtitulos">PACO RABANNE</h3>
        <article class="producto-destacado">
   <% for (let i = 0; i < productsBrand.length; i++) {%>
            <% if(productsBrand[i].brand.name == 'PACO RABANNE'){ %> 
                <div class="destacado-producto">
                    <a href="/products/detalle/<%=productsBrand[i].id %>">
                        <img class="product-img" src="..\..\img\perfumes/<%=productsBrand[i].images_products[1].name%>" alt="imagen">
                    </a>
                <div class="main-product-description">
                    <p id="name-product"><%= productsBrand[i].name %></p>
                    <p id="precio">$<%=productsBrand[i].price %></p>
                    <a class="compra" href="/products/detalle/<%=productsBrand[i].id %>"><span id="img-buy-car"><i
                                class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>              
                </div>
            </div>
            <% }}; %>
        </article>
        <h3 id="subtitulos">CREED</h3>
        <article class="producto-destacado">
   <% for (let i = 0; i < productsBrand.length; i++) {%>
            <% if(productsBrand[i].brand.name == 'CREED'){ %> 
                <div class="destacado-producto">
                    <a href="/products/detalle/<%=productsBrand[i].id %>">
                        <img class="product-img" src="..\..\img\perfumes/<%=productsBrand[i].images_products[1].name%>" alt="imagen">
                    </a>
                <div class="main-product-description">
                    <p id="name-product"><%= productsBrand[i].name %></p>
                    <p id="precio">$<%=productsBrand[i].price %></p>
                    <a class="compra" href="/products/detalle/<%=productsBrand[i].id %>"><span id="img-buy-car"><i
                                class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>              
                </div>
            </div>
            <% }}; %>
        </article>
        <h3 id="subtitulos">LACOSTE </h3>
        <article class="producto-destacado">
   <% for (let i = 0; i < productsBrand.length; i++) {%>
            <% if(productsBrand[i].brand.name == 'LACOSTE'){ %> 
                <div class="destacado-producto">
                    <a href="/products/detalle/<%=productsBrand[i].id %>">
                        <img class="product-img" src="..\..\img\perfumes/<%=productsBrand[i].images_products[1].name%>" alt="imagen">
                    </a>
                <div class="main-product-description">
                    <p id="name-product"><%= productsBrand[i].name %></p>
                    <p id="precio">$<%=productsBrand[i].price %></p>
                    <a class="compra" href="/products/detalle/<%=productsBrand[i].id %>"><span id="img-buy-car"><i
                                class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>              
                </div>
            </div>
            <% }}; %>
        </article>
        <h3 id="subtitulos">GIORGIO ARMANI</h3>
        <article class="producto-destacado">
   <% for (let i = 0; i < productsBrand.length; i++) {%>
            <% if(productsBrand[i].brand.name == 'GIORGIO ARMANI'){ %> 
                <div class="destacado-producto">
                    <a href="/products/detalle/<%=productsBrand[i].id %>">
                        <img class="product-img" src="..\..\img\perfumes/<%=productsBrand[i].images_products[1].name%>" alt="imagen">
                    </a>
                <div class="main-product-description">
                    <p id="name-product"><%= productsBrand[i].name %></p>
                    <p id="precio">$<%=productsBrand[i].price %></p>
                    <a class="compra" href="/products/detalle/<%=productsBrand[i].id %>"><span id="img-buy-car"><i
                                class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>              
                </div>
            </div>
            <% }}; %>
        </article>
        <h3 id="subtitulos">DOLCE & GABBANA</h3>
        <article class="producto-destacado">
   <% for (let i = 0; i < productsBrand.length; i++) {%>
            <% if(productsBrand[i].brand.name == 'DOLCE & GABBANA'){ %> 
                <div class="destacado-producto">
                    <a href="/products/detalle/<%=productsBrand[i].id %>">
                        <img class="product-img" src="..\..\img\perfumes/<%=productsBrand[i].images_products[1].name%>" alt="imagen">
                    </a>
                <div class="main-product-description">
                    <p id="name-product"><%= productsBrand[i].name %></p>
                    <p id="precio">$<%=productsBrand[i].price %></p>
                    <a class="compra" href="/products/detalle/<%=productsBrand[i].id %>"><span id="img-buy-car"><i
                                class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>              
                </div>
            </div>
            <% }}; %>
        </article>
       
    </main>
    <%- include('../partials/footer') %>
</body>

</html>