<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <header class="main-header">
        <%- include('partials/header') %> 
    </header>
    <img class="img-start" src=".\img\fragance-life.jpg" alt="image">
    <main class="full body">
        <h3 id="subtitulos">Promociones</h3>
        <article class="promo">
            <article class="promociones">
                <a href="/products/<%= last.id %>">
                <ul type ="None">
                    <h3>¡Súper promo de la Semana!</h3>
                    <img class="product-img" src = "./img/Perfumes\<%= last.image1 %>" alt="imagen">
                    <p id="discuont-product"><%= last.name %></p>
                    <div class="description">
                        <div class="description-before">
                            <li id="time">Antes:</li>
                            <li id="precio-before">$<%= last.price %> </li>
                        </div>
                        <div class="description-after">
                            <li id="time">Ahora:</li>
                            <li id="precio">$95000</li>
                        </div>
                    </div>
                </ul>
            </a>
            </article>
        <article class="second-sale">
        <% promotion.forEach(product=> { %>
            <div class="third-sale">
                <a href="/products/<%= product.id %>">
                    <ul type ="None">
                        <img class="product-img" src = ".\img\Perfumes\<%= product.image1 %> " alt="imagen">
                        <div class="promotion-description">
                            <p id="discuont-product"><%= product.name %> </p>
                            <div class="description-before">
                                <li id="precio-before"><%= product.price %></li>
                            </div>
                            <p id="discuont-product">¡<%= product.discount %>% de Descuento!</p>
                            <div class="description-after">
                                <li id="precio">$95000</li>
                            </div>
                        </div>
                    </ul>
                </a>
            </div>
        <%	}); %>
    </article>
        </article>
        
        <h3 id="subtitulos">Productos Destacados</h3>
        <article class="producto-destacado">
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\invictus-2.jpg" alt ="imagen">
                <div class="main-product-description">
                    <p id="name-product">Invictus</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="/products/detalleproducto"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\chanel-3.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Chanel N°5</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="/products/detalleproducto"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\vetiver-2.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Creed Vetiver</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="/products/detalleproducto"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\lbm-4.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Light Blue</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="/products/detalleproducto"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\coco-1.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Coco Chanel</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="/products/detalleproducto"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
        </article>
        <h3 id="subtitulos">Productos Nuevos</h3>
        
        <article class="producto-destacado">
        <% nuevos.forEach(newProd=> { %>
            <a href="/products/<%= newProd.id %>">
                <div class="destacado-producto">
                    <img class="product-img" src = ".\img\Perfumes\<%= newProd.image1 %>" alt ="imagen">
                    <div>
                        <p id="name-product"><%= newProd.name %></p>
                        <p id="precio">$<%= newProd.price %></p>
                        <a class="compra" href="/products/detalleproducto"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                    </div>
                </div>
            </a>
        <%	}); %>
        </article>
    </main>
    <%- include('partials/footer') %>
</body>
</html>