<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body class="index">
    <header class="main-header">
        <%- include('partials/header') %> 
    </header>
    <%- include('partials/secction') %>
    <!-- <img class="img-start" src=".\img\fragance-life.jpg" alt="image"> -->
    <main class="full-body">
    <div class="body-background">
        <article class="promo">
            <article class="promociones">
                <h3 id="subtitulos">¡Súper Promo de la Semana!</h3>
            <% for (let i = 0; i < best.length; i++) {%>
                
                    <a href="/products/detalle/<%=best[i].id %>">
                        <img class="product-img" src="../../img/perfumes/<%= best[i].images_products[0].name%>" alt="imagen">
                    </a>
                    <div class="main-product-description">
                        <p id="name-product"><%= best[i].name %></p>
                        <p id="discuont-product">ANTES</p>
                        <p id="precio-before">$<%=best[i].price %></p>
                        <p id="discuont-product">¡<%= best[i].discount %>% de Descuento!</p>
                        <div class="description-after">
                            <p id="discuont-product">AHORA</p>
                            <P id="precio">$<%=best[i].price - (best[i].price * (best[i].discount / 100)) %></P>
                        </div>
                        <a class="compra" href="/products/detalle/<%=best[i].id %>"><span id="img-buy-car"><i
                         class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                            
                    </div>      
                     <% }; %>
                 
            </article>
            <% for (let i = 0; i < promotion.length; i++) {%>
                <div class="destacado--producto">
                    <a href="/products/detalle/<%=promotion[i].id %>">
                        <img class="product-img" src="../../img/perfumes/<%= promotion[i].images_products[0].name%>" alt="imagen">
                    </a>
                    <div class="main-product-description">
                        <p id="name-product"><%= promotion[i].name %></p>
                        <p id="discuont-product">ANTES</p>
                        <p id="precio-before">$<%=promotion[i].price %></p>
                        <p id="discuont-product">¡<%= promotion[i].discount %>% de Descuento!</p>
                        <div class="description-after">
                            <p id="discuont-product">AHORA</p>
                            <P id="precio">$<%=promotion[i].price - (promotion[i].price * (promotion[i].discount / 100)) %></P>
                        </div>
                        <a class="compra" href="/products/detalle/<%=promotion[i].id %>"><span id="img-buy-car"><i
                         class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                            
                    </div>      
                 </div>
                     <% }; %>
</article>
        <!--a partir de aqui esta bien-->
        <h3 id="subtitulos">Productos Destacados</h3>
        <article class="producto-destacado">
            <% for (let i = 0; i < products.length; i++) {%>
                <div class="destacado-producto">
                    <a href="/products/detalle/<%=products[i].id %>">
                        <img class="product-img" src="../../img/perfumes/<%= products[i].images_products[0].name%>" alt="imagen">
                    </a>
                    <div class="main-product-description">
                        <p id="name-product"><%= products[i].name %></p>
                        <p id="precio">$<%=products[i].price %></p>
                        <a class="compra" href="/products/detalle/<%=products[i].id %>"><span id="img-buy-car"><i
                         class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                            
                    </div>      
                 </div>
                     <% }; %>
                 </article>
     <h3 id="subtitulos">Ultimos Productos</h3>
        <article class="producto-destacado">
            <% for (let i = 0; i < last.length; i++) {%>
                <div class="destacado-producto">
                    <a href="/products/detalle/<%=last[i].id %>">
                        <img class="product-img" src="../../img/perfumes/<%= last[i].images_products[0].name%>" alt="imagen">
                    </a>
                    <div class="main-product-description">
                        <p id="name-product"><%= last[i].name %></p>
                        <p id="precio">$<%=last[i].price %></p>
                        <a class="compra" href="/products/detalle/<%=last[i].id %>"><span id="img-buy-car"><i
                         class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                            
                    </div>      
                 </div>
                     <% }; %>
                 </article>
                </div>
    </main>
    
    <%- include('partials/footer') %>
</body>
</html>