<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <header class="main-header">
        <%- include('../partials/header.ejs') %> 
    </header>
    <main class="main-form">
        <section class="register">
            <article>
                <form method="POST" action="/user/register" id="formRegister" class="form" enctype="multipart/form-data">
                    <label for="" class="form-label_title">Crea tu cuenta</label>
                    <label for="" class="form-label_subtittle">Te Damos la bienvenida,¡te invitamos a registrarte!
                    </label>

                    <label for="document" class="form-label_dates">Documento*:</label>
                    <input type="number" name="document" id="document" autocomplete ="" minlength="2" class="form-input-dates"  value="<%= locals.old && old.document ? old.document : ''%>" >
                    <% if (locals.errors && errors.document) { %>
                        <div class="text-danger feedback">
                            <%= errors.document.msg %>
                        </div>
                    <% } %>
                    <div class="text-danger" id="documentError"></div>

                    <label for="names" class="form-label_dates">Nombre*:</label>
                    <input type="text" name="names" id="nombre" autocomplete ="given-name" minlength="2" class="form-input-dates"  value="<%= locals.old && old.names ? old.names : ''%>" >
                    <% if (locals.errors && errors.names) { %>
                        <div class="text-danger feedback">
                            <%= errors.names.msg %>
                        </div>
                    <% } %>
                    <div class="text-danger" id="nombreError"></div>

                    <label for="surnames" class="form-label_dates">Apellidos*:</label>
                    <input type="text" name="surnames" id="apellido"autocomplete ="family-name" minlength="2" class="form-input-dates"  value="<%= locals.old && old.surnames ? old.surnames : ''%>">
                    <% if (locals.errors && errors.surnames) { %>
                        <div class="text-danger feedback">
                            <%= errors.surnames.msg %>
                        </div>
                    <% } %>
                    <div class="text-danger" id="apellidoError"></div>

                    <label for="email" class="form-label_dates">Correo electronico*:</label>
                    <input type="email" name="email" id="email" autocomplete="email" placeholder="nombre@example.com" class="form-input-dates" value="<%= locals.old && old.email ? old.email : ''%>">
                    <% if (locals.errors && errors.email) { %>
                        <div class="text-danger feedback">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                    <div class="text-danger" id="emailError"></div>
                    
                    <label for="password" class="form-label_dates">Contraseña*:</label>
                    <input type="password" name="password" id="password" autocomplete="new-password" placeholder="*********" class="form-input-dates" value="<%= locals.old && old.password ? old.password : ''%>">
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger feedback">
                            <%= errors.password.msg %>
                        </div>
                    <% } %>
                    <div class="text-danger" id="passwordError"></div>

                    <label for="password" class="form-label_dates">Confirmar Contraseña*:</label>
                    <input type="password" name="confirmpassword" id="confirmpassword" autocomplete="new-password" placeholder="*********" class="form-input-dates" value="<%= locals.old && old.confirmpassword ? old.confirmpassword : ''%>">
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger feedback">
                            <%= errors.password.msg %>
                        </div>
                    <% } %>
                    <div class="text-danger" id="confirmpasswordError"></div>

                    <label for="names" class="form-label_dates">Categoria*:</label>
                    <select name="category" id="category">
                        <option value= "">Seleccionar...</option>
                        <option value= 1 <%= locals.old && (old.category == 1 ? 'selected' : null) %>>Administrador</option>
                        <option value= 2 <%= locals.old && (old.category == 2 ? 'selected' : null) %>>Comprador</option>
                    </select>
                    <% if (locals.errors && errors.category) { %>
                        <div class="text-danger feedback">
                            <%= errors.category.msg %>
                        </div>
                    <% } %>
                    <div class="text-danger" id="categoryError"></div>

                    <label for="avatar" class="form-label_dates">Avatar*:</label>
                    <input type="file" name="avatar" id="avatar" accept=".jpg, .png, .jpeg, .gif"  >
                    <% if (locals.errors && errors.avatar) { %>
                        <div class="text-danger feedback">
                            <%= errors.avatar.msg %>
                        </div>
                    <% } %>
                    <div class="text-danger" id="avatarError"></div>

                    <input class="form-input-button" type="submit" value="Registrarse" id="register">
                    <input class="form-input-button login" type="button" value="Iniciar Sesion" href="#">
                </form>
            </article>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <!-- <script type="text/javascript" src="/js/register.js"></script> -->
</body>
</html>