<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <header class="main-header">
        <%- include('../partials/header.ejs') %> 
    </header>
    <main>
        <section class="register">
            <article>
                <form method="POST" action="/user/register"  class="form" enctype="multipart/form-data">
                    <label for="" class="form-label_title">Crea tu cuenta</label>
                    <label for="" class="form-label_subtittle">Te Damos la bienvenida,¡te invitamos a registrarte!
                    </label>

                    <% if(locals && locals.errors) { %>
                        <% for(let error in errors) { %>
                            <p><%= errors[error].msg %></p>
                        <% } %>
                    <% } %>

                    <label for="document" class="form-label_dates">Documento*:</label>
                    <input type="number" name="document" autocomplete ="" minlength="2" class="form-input-dates"  value="<%= locals.old && old.document ? old.document : ''%>">

                    <label for="name" class="form-label_dates">Nombre*:</label>
                    <input type="text" name="name" autocomplete ="given-name" minlength="2" class="form-input-dates"  value="<%= locals.old && old.names ? old.names : ''%>">

                    <label for="surnames" class="form-label_dates">Apellidos*:</label>
                    <input type="text" name="surnames" autocomplete ="family-name" minlength="2" class="form-input-dates"  value="<%= locals.old && old.surnames ? old.surnames : ''%>">

                    <label for="email" class="form-label_dates">Correo electronico*:</label>
                    <input type="text" name="email" id="email" autocomplete="email" placeholder="nombre@example.com" class="form-input-dates" value="<%= locals.old && old.email ? old.email : ''%>">

                    <label for="password" class="form-label_dates">Contraseña*:</label>
                    <input type="password" name="password" id="password" autocomplete="new-password" placeholder="*********" class="form-input-dates" value="<%= locals.old && old.password ? old.password : ''%>">

                    <label for="password" class="form-label_dates">Confirmar Contraseña*:</label>
                    <input type="password" name="confirmpassword" id="confirmpassword" autocomplete="new-password" placeholder="*********" class="form-input-dates" value="<%= locals.old && old.confirmpassword ? old.confirmpassword : ''%>">

                    <label for="names" class="form-label_dates">Categoria*:</label>
                    <select name="category" id="category">
                        <option value="Administrador" <%= locals.old && (old.category == "Administrador" ? 'selected' : null) %>>Administrador</option>
                        <option value="Comprador" <%= locals.old && (old.category == "Comprador" ? 'selected' : null) %>>Comprador</option>
                    </select>

                    <label for="avatar" class="form-label_dates">Avatar*:</label>
                    <input type="file" name="avatar" id="avatar" accept=".jpg, .png, .jpeg, .gif"  >

                    <input class="form-input-button" type="submit" value="Registrarse">
                    <input class="form-input-button login" type="button" value="Iniciar Sesion" href="#">
                </form>
            </article>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>