<!DOCTYPE html>
<html lang="es">
	<%- include('../partials/head') %>
	<body>
		<header class="main-header">
			<%- include('../partials/header.ejs') %> 
		</header>
	
	<!-- Container -->
	<div class="profile">
			
				<h2>Hi <%= user.name%> <%= user.surnames  %> </h2>
				<img src="/img/users/<%= user.avatar %> ">
				
				<h4 class="alert alert-success ">Email: <%= user.email %> <h4/>
				<h4 class="alert alert-success ">Categoria: <%= user.category %> <h4/>
				<!--Botones de rol admin-->
				<form action="/products/administrar">
					<input type="submit" value="Administrar Productos">
				</form>
				<!-- //Container -->
	</div>

	
	
	<%- include('../partials/footer'); %>
</body>
</html>