<!DOCTYPE html>
<html lang="es">
	<%- include('../partials/head') %>
	<body>
		<header class="main-header">
			<%- include('../partials/header.ejs') %> 
		</header>
	
	<!-- Container -->
	<div class="profile" id="per"">
			<div class="row">
				<h2>Hi <%= user.name%> <%= user.surnames  %> </h2>
				<img src="/img/users/<%= user.avatar %> ">
				
				<div class="alert alert-success"><%= user.email %> </div>
				<!--Botones de rol admin-->
				<form action="/products/administrar">
					<input type="submit" value="Administrar Productos">
				</form>
				<!-- //Container -->
			</div>
	</div>

	
	
	<%- include('../partials/footer'); %>
</body>
</html>