<!DOCTYPE html>
<html lang="es">
	<%- include('../partials/head') %>
	<body>
		<header class="main-header">
			<%- include('../partials/header.ejs') %> 
		</header>
	
	<!-- Container -->
	<div class="profile">
				<div class="container-image">
				<img src="/img/users/<%=user.avatar%>">
			 	</div>
	
	<div>
		<h2>Hi <%= user.name%> <%= user.surname  %> </h2>
				<h4 class="alert alert-success ">Email: <%= user.email %> <h4/>
				
				<!--Botones de rol admin-->
				<% if (user.category_id == 1) { %>
				<form action="/products/administrar">
					<input type="submit" value="Administrar Productos">
				</form>
			<% } %>
				<form action="/user/profile/edit/<%=user.id%>">
					<input type="submit" value="Edita tu Perfil!">
				</form>
				<!-- //Container -->
	</div>
</div>
	
	<%- include('../partials/footer'); %>
</body>
</html>